{{!< default}}
<div class="container">
	<div class="jumbotron">
		<div class="images">
		<img src="/images/keystone.jpg" style="max-width: 60%; max-height: 300px;">
		<img src="/images/keystone1.jpg" style="max-width: 60%; max-height: 300px;">
	</div>
		<h1>Welcome to my website!</h1>
		<p>This is your chance to gain some insight into my life!</p>
		<p>
			You can check out not only my <a href="https://www.facebook.com/david.rose.7587">facebook</a>
			but also my <a href="http://www.weeb.tv/"><strong>chatshow website</strong></a>!
		</p>
		<hr>
		<p>Feel free to leave a comment in the blog section. This can be found <a href="http://localhost:3000/blog">here</a>.</p>
		<hr>
		<p>
			Most importantly, don't forget to check out my github <a href='https://github.com/joeflacco5' target='_blank'><strong>here</strong></a>!
		</p>
	</div>
</div>
