{{!< default}}
<div class="container">
	<div class="jumbotron">
		<div class="images">
		<a href="http://nfl.com" target="_blank">
			<img src="/images/nfl.png" style="max-width: 50%; max-height: 300px;">
		</a>
	</div>
		<h1>NFL Weeb</h1>
		<p>Hi, my name is NFL Weeb and I love to blog about the NFL.</p>
		<p>
			My unique insight into the world of football can be found in the Blog section of the website.
			This can be found <a href="http://localhost:3000/blog"><strong>here</strong></a>.
		</p>
		<hr>
		<p>This website can also be used as a 'roster reference'. Frequently fans lament over how difficult it is to make quick
			reference to NFL rosters. Well lament no more. You can see a list of all 32 rosters
			<a href="http://localhost:3000/nfl" target="_blank"><strong>here</strong></a> - you're welcome :)
		</p>
		<hr>
		<p>And finally, feel free to send over any queries you may have by heading over to the <a href="http://localhost:3000/contact"><strong>contact</strong></a> page.</p>
		<hr>
		<p>On a side note, don't forget to check out my github <a href='https://github.com/joeflacco5' target='_blank'><strong>here</strong></a>
			so you can see how I made this sweet and insanely complex website.</p>
	</div>
</div>
