{{!< default}}
<div class="container">
	<div class="jumbotron">
	</div>
	<div class='text'>
		<div class="text1">
			<h1><u>NFL Weeb</u></h1>
			<p>Hi, my name is NFL Weeb and I love to blog about the NFL.</p>
			<p>
				My unique insight into the world of football can be found in the Blog section of the website.
				This can be found <a href="/blog"><strong>here</strong></a>.
			</p>
			<hr>
			<p>This website can also be used as a 'roster reference'. Frequently fans lament over how difficult it is to make quick
				reference to NFL rosters. Well lament no more. You can see a list of all 32 rosters
				<a href="/nfl" target="_blank"><strong>here</strong></a> - you're welcome :)
			</p>
			<hr>
			<p>And finally, feel free to send over any queries you may have by heading over to the <a href="/contact"><strong>contact</strong></a> page.</p>
		</div>
		<div class="text2">
			<p>On a side note, don't forget to check out my github <a href='https://github.com/joeflacco5' target='_blank'><strong>here</strong></a>
				so you can see how I made this sweet and insanely complex website.</p>
				<div class="homepage">
					<button type='button'class='btn btn-danger'><a href="http://nfl.com">NFL Homepage</a></button>
				</div>
			</div>
		</div>
		<hr>
		<div class="jumbotron" style="background-image: url(https://www.ea.com/content/c-eaaccess/en_US/madden-nfl-17/_jcr_content/par/pagesection/par/imagecarousel_0/image1/small.img.jpg/1467757047239.jpg); background-position: cover cover;">
		</div>
	</div>
