<div class="container">
<div class="image-grid">
    <div class='image-row'>
      <h3>AFC NORTH</h3>
      <img src="/images/ravens.png"/>
      <img src="/images/steelers.png"/>
      <img src="/images/bengals.png"/>
      <img src="/images/browns.png"/>
    </div>
    <div class='image-row'>
      <h3>AFC EAST</h3>
      <img src="/images/patriots.png"/>
      <img src="/images/jets.png"/>
      <img src="/images/bills.png"/>
      <img src="/images/dolphins.png"/>
    </div>
    <div class='image-row'>
      <h3>AFC SOUTH</h3>
      <img src="/images/colts.png"/>
      <img src="/images/texans.png"/>
      <img src="/images/titans.png"/>
      <img src="/images/jaguars.png"/>
    </div>
    <div class='image-row'>
      <h3>AFC WEST</h3>
      <img src="/images/chiefs.png"/>
      <img src="/images/chargers.png"/>
      <img src="/images/raiders.png"/>
      <img src="/images/broncos.png"/>
    </div>
    <div class='image-row'>
      <h3>NFC NORTH</h3>
      <img src="/images/packers.png"/>
      <img src="/images/bears.png"/>
      <img src="/images/vikings.png"/>
      <img src="/images/lions.png"/>
    </div>
    <div class='image-row'>
      <h3>NFC EAST</h3>
      <img src="/images/cowboys.png"/>
      <img src="/images/eagles.png"/>
      <img src="/images/giants.png"/>
      <img src="/images/redskins.png"/>
    </div>
    <div class='image-row'>
      <h3>NFC SOUTH</h3>
      <img src="/images/falcons.png"/>
      <img src="/images/tampa.png"/>
      <img src="/images/saints.png"/>
      <img src="/images/panthers.png"/>
    </div>
    <div class='image-row'>
      <h3>NFC WEST</h3>
      <img src="/images/Cardinals.png"/>
      <img src="/images/rams.png"/>
      <img src="/images/seahawks.png"/>
      <img src="/images/49ers.png"/>
    </div>
  </div>
</div>
