// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";

.container{
  font-family: Roboto;
    .jumbotron{
      border: solid black 3px;
      }
    }
.images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
.text {
  margin: 5%;
  padding: 5px;
}
.image-row {
  h3 {
    font-family: Roboto;
    padding-top: 75px;
    padding-right: 20px;
  }
  margin: 5px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  img{
  border: 1px silver;
  flex: 1;
}
}
